/* Gray — the cool scheme, at half slate's strength.

   @import forge.css before this file. */
:root {
  --gray-1:  #f8f9fa;
  --gray-2:  #fbfcfd;
  --gray-3:  #eff0f2;
  --gray-4:  #e7e8eb;
  --gray-5:  #dee0e4;
  --gray-6:  #d6d9de;
  --gray-7:  #cbced4;
  --gray-8:  #b6bbc4;
  --gray-9:  #878d99;
  --gray-10: #7d8390;
  --gray-11: #5d6571;
  --gray-12: #19202d;

  --gray-a1:  #00005503;
  --gray-a2:  #00005506;
  --gray-a3:  #0000330f;
  --gray-a4:  #00002d17;
  --gray-a5:  #0009321f;
  --gray-a6:  #00002f26;
  --gray-a7:  #00062e32;
  --gray-a8:  #00083046;
  --gray-a9:  #00051d74;
  --gray-a10: #00071b7f;
  --gray-a11: #0007149f;
  --gray-a12: #000509e3;
}

.dark {
  --gray-1:  #0b111c;
  --gray-2:  #131926;
  --gray-3:  #1b222f;
  --gray-4:  #222b37;
  --gray-5:  #29323f;
  --gray-6:  #323b48;
  --gray-7:  #404956;
  --gray-8:  #59616e;
  --gray-9:  #686e7b;
  --gray-10: #757b88;
  --gray-11: #afb5bd;
  --gray-12: #edeef1;

  --gray-a1:  #00000000;
  --gray-a2:  #d8f4f609;
  --gray-a3:  #ddeaf814;
  --gray-a4:  #d3edf81d;
  --gray-a5:  #d9edfe25;
  --gray-a6:  #d6ebfd30;
  --gray-a7:  #d9edff40;
  --gray-a8:  #d9edff5d;
  --gray-a9:  #dfebfd6d;
  --gray-a10: #e5edfd7b;
  --gray-a11: #f1f7feb5;
  --gray-a12: #fcfdffef;
}
